[submodule "libfranka"]
	path = libfranka
	url = https://github.com/frankaemika/libfranka
[submodule "crates/crates/libfranka-rs"]
	path = crates/crates/libfranka-rs
	url = git@github.com:Robot-Exp-Platform/libfranka-rs.git
